
/* Add Podcast Page */
body {
background-color: #F8F8F8;
font-family: Arial, sans-serif;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-section {
display: flex;
align-items: center;
}

input[type="text"] {
width: 300px;
padding: 5px;
margin-right: 10px;
border: none;
border-bottom: 2px solid #ccc;
font-size: 16px;
}

button[type="submit"] {
background-color: #4CAF50;
color: #fff;
border: none;
padding: 5px 10px;
font-size: 16px;
cursor: pointer;
}

button[type="submit"]:hover {
background-color: #3e8e41;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: flex-end;
}

nav li {
margin: 0 10px;
}

nav select {
display: none;
}

@media screen and (max-width: 600px) {
nav ul {
flex-wrap: wrap;
justify-content: center;
}

nav li {
margin: 10px;
}

nav select {
display: inline-block;
}
}

main {
text-align: center;
}

main form {
display: inline-block;
text-align: left;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
display: block;
margin-bottom: 10px;
font-size: 16px;
}

form input[type="text"],
form textarea,
form select {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: none;
border-radius: 5px;
background-color: #F8F8F8;
font-size: 16px;
}

form input[type="radio"] {
margin-right: 10px;
}

form input[type="file"] {
margin-bottom: 20px;
}

form input[type="submit"] {
background-color: #4CAF50;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
}

form input[type="submit"]:hover {
background-color: #3e8e41;
}

.podcast-tiles {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.podcast-tiles li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.podcast-tiles a {
  display: block;
}

.podcast-tiles img {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.podcast-tiles h3 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.logo {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin-right: 10px;
      }
      
.title {
  display: inline-block;
  margin: 0;
  float: left;
}